*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #141414;
    color:rgb(198, 198, 198);
}

@font-face {
    font-family: "Roboto";
    src: url(Roboto-VariableFont_wdth\,wght.ttf);
}

h1{
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    font-size: 5em;
}

h2{
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5em;
}

h3{
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    padding-bottom: 15px;
}

p{
    font-family: 'Roboto', Arial, sans-serif;
}


.page-content{
    padding-left: 15%;
    padding-right: 15%;
}

header {
    display: block;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    height: 65px;
    background: linear-gradient(180deg, #383a41a3, rgba(32, 32, 32, 0));
    backdrop-filter: blur(15px);
    box-shadow: #161616 0px 0px 10px;
    z-index: 100;
}

.nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    margin-top: 20px;
}

.nav ul {
    display: flex;
}

.nav ul li{
    list-style: none;
    margin-right: 4rem;
    font-size: 18px;
}

.nav ul li:last-child{
    margin-right: 0;
}

.nav ul li a{
    text-decoration: none;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.about-text{
    display: inline-block;
}

.about-text h1{
    transition: transform .8s, color .4s;
    padding-bottom: 10px;
}

.about-roles-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 150px;
    font-size: 28px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: bold;
    color: #737373;
}

.about-role {
    flex: 1;
    text-align: center;
}

.about-role:first-child {
    text-align: left;
}

.about-role:last-child {
    text-align: right;
}


.work-header h2{
    transition: transform .8s, color .4s;
}

.contact-content h2{
    transition: transform .8s, color .4s;
}

.about-text h1:hover, .work-header h2:hover, .contact-content h2:hover{
    transform:translateY(-5px);
    color: rgb(243, 243, 243);
}

#text-colored{
    color: rgb(255, 255, 255);
}

section{
    height: 1000px;
    padding-top: 100px;
}

section:first-child{
    padding-top: 200px;
}

section:nth-child(2){
    margin-top: -400px;
}

section:nth-child(3){
    height: 370px;
    margin-top: -50px;
}

.work-header h2, .work-header p{
    display: flex;
    justify-content: left;
}

.work-header h2{
    margin-bottom: 50px;
}

.project-title{
    display: block;
    margin-top: 50px;
}

.inner-container{
    display: inline-flex;
    margin-right: 15px;
}

.skill-items{
    display: flex;
    justify-content: flex-start;
    margin-right: 10%;
    margin-top: 15px;
}

.skill-items ul {
    display: flex;
}

.skill-items ul li{
    list-style: none;
    margin-right: 1rem;
    font-size: 16px;
    font-family: 'Roboto', Arial, sans-serif;
    border: 3px solid #737373;
    padding: 6px 14px;
    border-radius: 20px;
}

.skill-items ul li:last-child{
    margin-right: 0;
}

.project-item hr{
    margin-top: 35px;
    border: 1px solid #404040;
}

.contact-content h2, .contact-content p{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 15px;
}

.contact-content .contact-email p{
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 35px;
    transition: font-weight 0.7s, color 0.3s;
}

.contact-options ul{
    list-style: none;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
}

.contact-options ul li{
    transition: font-weight 0.7s, color 0.3s;
    padding-right: 70px;
}

.contact-options ul li a, .contact-content .contact-email p a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
}

.contact-options ul li:hover, .contact-content .contact-email p:hover{
    font-weight: bold;
    color: #ffffff;
}

footer{
    position: relative;
    display: flex;
    justify-content: center;
}

footer p{
    margin-bottom: 50px;
    margin-top: 25px;
    text-align: center;
}